description = "Firesafe boxes"
==
<div class="content-wrapper boxes">
    <a href="javascript:void(0)" class="box">
        <img src="/public/img/Erfahrung.png" alt="">
        <h1 class="box__title">Erfahrung</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nostrum, libero! Laborum distinctio necessitatibus voluptates eaque officiis, unde illo, earum voluptatum rerum, reiciendis ipsa ex dolorem a dicta, maxime aliquam.</p>
    </a>
    <a href="javascript:void(0)" class="box">
        <img src="/public/img/Technik2.png" alt="">
        <h1 class="box__title">Technologie</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestiae fugiat tenetur fugit atque dignissimos, fugiat natus vitae.</p>
    </a>
    <a href="javascript:void(0)" class="box">
        <img src="/public/img/Support.png" alt="">
        <h1 class="box__title">Support</h1>
        <p>Lorem adipisicing elit. Voluptas consectetur tempora quis nam, officia tenetur blanditiis in illo dolor?</p>
    </a>
</div>