description = "Firesafe Kontakt Form"
==

<div class="section">
    <div class="content-wrapper">

        <div class="content-title content-title__red">
            <h1>Kontakt</h1>
        </div>

        <form>
            <div class="boxes">
                <div class="box">
                    <label for="company_name">Firma: </label><input id="company_name" type="text">
                    <label for="company_address">Addresse: </label><input id="company_address" type="text">
                    <label for="company_tel">Telefon: </label><input id="company_tel" type="text">
                    <label for="company_fax">Fax: </label><input id="company_fax" type="text">
                    <label for="company_business">Business: </label><input id="company_business" type="text">
                    <label for="company_person">Vor- Nachname: </label><input id="company_person" type="text">
                    <label for="company_function">Funktion: </label><input id="company_function" type="text">
                    <label for="company_mail">E-Mail: </label><input id="company_mail" type="text">
                </div>
                <div class="box">
                    <label for="message">Nachricht: </label><textarea id="message" type="text" rows="10" style="width: 100%"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>