description = "Firesafe boxes"
==
<div class="section">
    <div class="content-wrapper boxes">
        <a href="javascript:void(0)" class="box box__centered">
            <img src="/public/img/Erfahrung.png" alt="">
            {% content "erfahrung/erfahrung" %}
        </a>
        <a href="javascript:void(0)" class="box box__centered">
            <img src="/public/img/Technik2.png" alt="">
            {% content "technologie/technologie" %}
        </a>
        <a href="javascript:void(0)" class="box box__centered">
            <img src="/public/img/Support.png" alt="">
            {% content "support/support" %}
        </a>
    </div>
</div>