description = "Firesafe Kontakt Form"
==
<div id="contact" class="section">
    <div class="content-wrapper">

        <div class="content-title content-title__red">
            <h1>Kontakt</h1>
        </div>

        <form action="/postContact" method="post">
            <div class="boxes">
                <div class="box">
                    <div class="form-control {{ errors.has('name') ? 'from-control-error' : ''}}"><label for="company_name">{{'Firma'|_}}: </label><input
                            name="name" id="company_name" type="text"></div>
                    <div class="form-control"><label for="company_address">{{'Addresse'|_}}: </label><input
                            name="address" id="company_address" type="text"></div>
                    <div class="form-control"><label for="company_tel">{{'Telefon'|_}}: </label><input
                            name="tel" id="company_tel" type="text">
                    </div>
                    <div class="form-control"><label for="company_fax">{{'Fax'|_}}: </label><input
                            name="fax" id="company_fax" type="text"></div>
                    <div class="form-control"><label for="company_business">{{'Business'|_}}: </label><input
                            name="business" id="company_business" type="text">
                    </div>
                    <div class="form-control"><label for="company_person">{{'Vor_Nachname'|_}}: </label><input
                            name="person" id="company_person" type="text"></div>
                    <div class="form-control"><label for="company_function">{{'Funktion'|_}}: </label><input
                            name="function" id="company_function" type="text"></div>
                    <div class="form-control {{ errors.has('email') ? 'from-control-error' : ''}}"><label for="company_mail">{{'EMail'|_}}: </label><input
                            name="email" id="company_mail" type="text"></div>
                </div>
                <div class="box">
                    <div class="form-control {{ errors.has('content') ? 'from-control-error' : ''}}"><label for="content">{{'Nachricht'|_}}: </label>
                        <textarea name="content" id="content" type="text" rows="10" style="width: 100%"></textarea></div>
                    <button type="submit" class="btn-submit">{{'Abschicken'|_}}</button>
                </div>
            </div>
        </form>


    </div>
</div>