description = "Google maps"
==

<div id="map" class="section"></div>

<script>
    function initMap() {

        var home = {lat: 46.2836437, lng: 11.2209034};

        var map = new google.maps.Map(document.getElementById('map'), {
            center: home,
            zoom: 9,
            scrollwheel: false
        });

        var marker = new google.maps.Marker({
            position: home,
            map: map,
            title: 'Marvil Engineering'
        });

    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNZB3xQSJGqA4HFKERSqQIum-HbFN4BVI&callback=initMap" async defer></script>
