description = "Footer"
==
<div class="footer-content">

    <div class="footer-links">
        <ul>
            <h3>Contatto</h3>
            <li><i class="fa fa-map-marker"></i> Zona Produttiva Schwemm, 8<br>I-39040 Magré s.s.d.v. (BZ)</li>
            <li><i class="fa fa-phone"></i> Tel. +39 0471 883162</li>
            <li><i class="fa fa-phone"></i> Fax +39 0471 883967</li>
        </ul>
        <ul>
            <h3>&copy; {{ "now"|date("Y") }} Marvil Engineering</h3>
            <li>p. Iva: IT04135800961</li>
            <li>REA 175015</li>
            <li>Iscritta Ufficio del registro delle imprese di Bolzano</li>
            <li>Capitale sociale versato 100.000,00 Euro</li>
        </ul>
    </div>

</div>
