description = "Navigation"
==
<div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
        <img src="/public/img/firesafe.jpg" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars"></i> Menu</a>
    <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
            <li class="nav-link"><a href="javascript:void(0)">Home</a></li>
            <li class="nav-link"><a href="javascript:void(0)">Applicazioni</a></li>
            <li class="nav-link"><a href="javascript:void(0)">Come Funziona</a></li>
            <li class="nav-link"><a href="javascript:void(0)">Sistema Firesafe</a></li>
            <li class="nav-link"><a href="javascript:void(0)">Chi Siamo</a></li>
            <li class="nav-link"><a href="javascript:void(0)">Richiesta Info</a></li>
            <li class="nav-link more"><a href="javascript:void(0)"><i class="fa fa-globe"></i> Lingua</a>
                <ul class="submenu">
                    <li><a href="javascript:void(0)">Italiano</a></li>
                    <li><a href="javascript:void(0)">Tedesco</a></li>
                    <li><a href="javascript:void(0)">Inglese</a></li>
                    <li class="more"><a href="javascript:void(0)">Item with submenu</a>
                        <ul class="submenu">
                            <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
                            <li><a href="javascript:void(0)">Another Item</a></li>
                        </ul>
                    </li>
                    <li class="more"><a href="javascript:void(0)">Another submenu</a>
                        <ul class="submenu">
                            <li><a href="javascript:void(0)">Sub-submenu</a></li>
                            <li><a href="javascript:void(0)">An Item</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>