description = "Navigation"
==
<div class="navigation-wrapper">

    <a href="javascript:void(0)" class="logo">
        FireSafe
    </a>

    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars"></i> {{'Menu'|_}}</a>

    <div class="navigation-tools">
        <ul class="navigation-menu show">
            <li class="nav-link more" style="border: none;">
                <a href="javascript:void(0)"><i class="fa fa-globe"></i> {{'Sprache'|_}}</a>
                <ul class="submenu submenu__right">
                    <li><a href="/it/">{{'Italienisch'|_}}</a></li>
                    <li><a href="/de/">{{'Deutsch'|_}}</a></li>
                    <li><a href="/en/">{{'Englisch'|_}}</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
            <li class="nav-link"><a href="#prinzip">{{'Prinzip'|_}}</a></li>
            <li class="nav-link"><a href="#system">{{'System'|_}}</a></li>
            <li class="nav-link"><a href="#ueber_uns">{{'Ueber uns'|_}}</a></li>
            <li class="nav-link"><a href="#contact">{{'Kontakt'|_}}</a></li>
        </ul>
    </nav>

</div>