.boxes {
    $base-border-radius: 3px !default;
    $base-background-color: white !default;
    $dark-gray: #333 !default;
    $light-gray: #DDD !default;
    $base-font-color: $dark-gray !default;
    $flex-box-border-color: $light-gray;
    $flex-box-border: 1px solid $flex-box-border-color;
    $flex-box-background: lighten($light-gray, 10%);
    $flex-box-gutter: 1em;
    $flex-box-width: 18em;

    @include clearfix;
    @include display(flex);
    @include justify-content(center);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    clear: both;
    text-align: center;

    .box {
        @include flex(2 2 15em);
        @include align-self(stretch);
        display: block;
        margin: $flex-box-gutter;
        padding: 2em 2em 2em 2em;
        text-decoration: none;

        img {
            display: block;
            height: 3em;
            margin: 0 auto 1em;
            opacity: 0.4;
        }

        &__title {
            color: #FF3333;
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }

        p {
            color: $dark-gray;
            line-height: 1.5em;
            margin: auto;
        }
    }

    .box-big {
        @include flex(1 1 40em);
    }
}
