.footer {

    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(no-wrap);
    @include justify-content(center);

    background-color: $footer-background-color;

    margin-top: 20px;
    width: 100%;

    &__link,
    &__list-link {
        @include display(block);

        color: $footer-color;
        cursor: pointer;
        font-size: 0.75em;
        text-decoration: none;

        margin: 0 20px;
        padding: 20px 10px;
        
        &:hover {
            background-color: $footer-background-color-hover;
            color: $footer-color-hover;
        }
    }

    &__list {
        position: relative;
    }

    &__list-area {
        @include display(none);

        background-color: $footer-background-color;

        position: absolute;
        bottom: 100%;
        left: 0;
        float: left;
        padding: 0;
        margin: 0 20px;
    }

    &__list-item {
        @include display(block);

        font-size: 0.7em;
        text-decoration: none;
        
        padding: 10px 20px;
    
        &:hover {
            background-color: $footer-background-color-hover;
            color: $footer-color-hover;
        }
    }

    &__list:hover > &__link-link {
        background-color: $footer-background-color-hover;
        color: $footer-color-hover;
    }

    &__list:hover > &__list-area {
        @include display(block);
    }

}