.header {

    @include display(flex);
    @include flex-flow(column nowrap);
    @include justify-content(flex-start);
    @include align-items(center);

    &--mobile-hidden {
        @include screens-phone-down {
            @include display(none);
        }
    }

    &__logo {
        margin-bottom: 20px;
    }

    &__logo-image {
        width: 192px;
        height: 87px;
    }

    &__slogan {
        font-size: 0.9em;
        text-align: center;
        
        margin: 0 10px;
    }
}