.firesafe-slider {

    &__item {

        background-color: #add8e6;
        color: white;
        height: 15em;

        @include screens-tablet-up {
            height: 22em;
        }

    }

    &__content {
        @include clearfix;
        @include outer-container;

        text-align: center;

        @include screens-tablet-up {
            font-size: 1.3em;
            height: 20em;
        }
    }

}
